body{
    background-image: url('images/fondo.jpg');
    background-attachment: fixed;

}


.img-title{
    margin-left: 300px;
    
}

#poke-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
  
.poke-info:hover {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    padding: 10px;
    border: 2px solid #FFFFFF;;
    border-radius: 100px;
    transition: transform .4s;
    transform: scale(1.2,1.2);
    
}
  
.poke-info img {
    width: 200px;
    height: 200px;
    object-fit: contain;
    margin-bottom: 10px;

}
li{
    margin: 50px;
    list-style: none;
    text-align: center;
    color: rgb(196, 187, 16);
    font-weight: 600;
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.div-buscar{
    padding: 30px;
    display: flex;
    justify-content: center;
}
input{
    text-align: center;
    height: 40px;
    font-size: 40px;
    border-radius: 40px;
    border-color: rgb(231, 190, 28);
    border-width: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
